h1{
    color: #a4a400;
    background-color: #f0f0f0;
    font-family: Lucida Sans Unicode;
    text-decoration: underline;
    text-align: center;
    font-size: 22pt;
}
h2{
    color: #a4a400;
    background-color: #f0f0f0;
    font-family: Lucida Sans Unicode;
    text-decoration: underline;
    text-align: left;
    font-size: 18pt;

}
h3{
    color: #a4a400;
    background-color: #f0f0f0;
    font-family: Lucida Sans Unicode;
    text-decoration: underline;
    text-align: left;
    font-size: 18pt;
}
body{
    background-color: white;
    text-decoration-color: #404040;
    font-family: Georgia;
    font-size: 11pt;
    
}
h4{
    box-decoration-break: slice;
    text-align: initial;
    background-color:#f6f697;

}